*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
   }
   main{
       font-family: 'Montserrat', sans-serif;
   }
   .landing{
       min-height: 100vh;
       background: rgb(43, 51, 126);
       background-size: cover;
       padding: 0rem 5rem;
   }
   nav{
       display: flex ;
       align-items: center;
       justify-content: space-between;
       min-height: 10vh;
   }
   .nav_btn{
       display: flex;
       list-style: none;
   }
   .h_btn{
       padding-left: 10rem;
       font-size: 1rem
   }
   .slide_container{
       /*width of the slide container*/
       width: 800px;
       height: 400px;
       margin-left: auto;
       margin-right: auto;
       overflow: hidden;
       text-align: center;
   }
   .img_container{
        /*width of the img_container*/
       width: 2400px;
       height: 700px;
       position: relative;
       transition: left 2s;
       -webkit-transition: left 2s;
       -moz-transition: left 2s;
       -o-transition: left 2s;
   
   }
   .slide_img{
       float: left;
       margin: 0px;
       padding: 0px;
   }
   .button_container{
       top: -10px;
       position:relative;
       text-align: center;
   }
   .slider_btn{
       display: inline-block;
       height: 10px;
       width: 10px;
       border-radius: 5px;
       background-color: royalblue;
   }
   #slider-img-1:target ~ .img_container{
       left: 0px;
   }
   #slider-img-2:target ~ .img_container{
       left: -800px;
   }
   #slider-img-3:target ~ .img_container{
       left: -1600px;
   }
   #slider-img-4:target ~ .img_container{
       left: -2000px;
   }
   .flex_container{
       display: flex;
       flex-direction:  row;
       justify-content: space-between;
       flex-wrap: wrap;
       align-items: center;
      
   }
   .box1{
       width: 370px;
       height: 600px;
       background: rgb(26, 32, 83);
       border-radius: 10px;
       position: relative;
       top: 90px;
       left: 7px;
       text-align: center;
       
   }
   .box2{
       width: 370px;
       height: 600px;
       background: rgb(26, 32, 83);
       border-radius: 10px;
       position: relative;
       top: 90px;
       left: 10px;
       right: 30px;
       text-align: center;
   
   }
   .box3{
       width: 370px;
       height: 600px;
       background: rgb(26, 32, 83);
       border-radius: 10px;
       position: relative;
       top: 90px;
       left: 10px;
       right: 10px;
       text-align: center;
   }
   
   /*.lcr-container > div{
       width: 270px;
       height: 600px;
       background: rgb(26, 32, 83);
       border-radius: 17px;
       border-style: none;
   }
   .left_container{
       float: left;
      
       
   }
   .center_container{
       display: inline-block;
       margin: 0 auto;
   
   }  
   .right_container{
       float: right;
      
   }*/
   #logo{
       font-weight: lighter;
       font-size: 2rem;
   }
   .intro{
       background:rgb(37, 44, 121) ;
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
   }
   .slider{
       background: rgb(110, 112, 126);
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       transform: translateY(100%);
   }
   .intro_text{
       color: lightgray;
       font-family: 'Montserrat', sans-serif;
       font-size: 3rem;
   }
   .hide{
       background: rgb(37, 44, 121);
       overflow: hidden;
   }
   .hide span {
       transform: translateY(100%);
       display: inline-block;
   }
   .h_btn{
       text-decoration: none;
       color: black;
   }
   
   
   